*{

      box-sizing: border-box;

}

body{

    font-family: 'Nunito', sans-serif;
    background-color: rgb(243, 243, 243);
    color: #2d2e35;
    line-height: 1.6;

}

ol, ul{

    list-style: none;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 5%;

}

img{

    max-width: 100%;

}

h1{

    text-align: center;
    font-weight: 700;

}

.navigation li{

    background-color: white;
    border-radius: 3px;
    padding: 5% 5%;
    margin: 5% auto;
    width: 300px;
    max-width: 100%;
    font-weight: 700;
    text-align: center;

}

.about-me p{

    text-align: center;
    margin: 10% 5% 30% 5%;

}

.about-me img{

    text-align: center;
    margin: 0% auto;
    padding-top: 10%;

}

.main-content-wrapper{


    background-color: white;
    padding: 10% 1%;
    width: 700px;
    max-width: 100%;
    text-align: center;

}

.main-content-wrapper h2{

    text-align: center;
    padding: 1% 2% 5%;
    margin-bottom: 0px;

}

.portfolio-text{

    margin-top: 5px;
    padding: 1% 2% 5%;

}

.contact{

    text-align: center;
    margin: 0% auto;
    padding: 20% 3% 5%;

}

footer{

    display: inline;
    text-align: center;

}

@media screen and (min-width: 768px){
    
    
}