*{

      box-sizing: border-box;

}

body{

    font-family: 'Nunito', sans-serif;
    background-color: rgb(243, 243, 243);
    color: #2d2e35;
    line-height: 1.6;
    max-width: 1600px;
    margin: 0% auto;

}

/* This is for lists st */

ol, ul{

    list-style: none;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 5%;

}

img{

    max-width: 100%;

}

h1{

    text-align: center;
    font-weight: 700;

}

a, a:visited{

    color: #2d2e35;
    text-decoration: none;

}

a:hover{

    color: #e7c735;


}


.nav-home, .nav-portfolio, .nav-contact{

    background-color: white;
    border-radius: 3px;
    padding: 1% 1%;
    margin: 3% auto;
    width: 300px;
    max-width: 100%;
    font-weight: 700;
    text-align: center;

}
.about-me{

    margin: 0% auto;
    max-width: 100%;
    width: 400px;
    height: auto;



}

.about-me p, .about-me img{

    text-align: center;
    margin: 1% 5% 10% 5%;

}


.portfol{

    text-align: center;

}

.main-content-wrapper{

    
    background-color: white;
    padding: 10% 1%;
    width: 20em;
    max-width: 100%;
    text-align: center;
    margin: 0% auto;

}

.main-content-wrapper h2{

    text-align: center;
    padding: 1% 2% 5%;
    margin-bottom: 0px;

}

.portfolio-text{

    margin-top: 5px;
    padding: 1% 2% 5%;

}

.contact{

    text-align: center;
    margin: 0% auto;
    padding: 5% 3% 5%;

}

footer{

    border-top: 3px solid #dbdbdb;
    text-align: center;

}

/* *****************************************
--------------Media Queries------------------
********************************************/

/* ---------------------------------------- */


/* *****************************************
--------------Tablet Mode------------------
********************************************/

@media screen and (min-width: 768px){


    .main-content-wrapper{

        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 1024px;
        margin: 0% auto;
        height: auto;
       


    }

    .page{

        max-width: 100%;
        margin: 1%;
        width: 48%;

    }

/* Flexbox container for the nav bar */

            .nav-container{

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 100%;
            width: 80vw;
            margin:auto;



    }

    /* Flexbox items for the navbar */
       .nav-home, .nav-portfolio, .nav-contact{

    background-color: rgba(153, 0, 0, 0);
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin: 3% 1%;
    width: 100px;
    font-weight: 700;


}

/* flexbox item that also belongs to .nav-container */
        .header-h1{

     
       margin: 5% 1% 5% 5%;


    }


    

    .about-me-container{

    display: flex;
    flex-wrap: wrap;


}

    .about-me{

    margin: 0% auto;
    max-width: 100%;
    width: 100vw;
    height: auto;



}



.about-me p{

    padding: 5% 0.5%;
    margin: 1% 5% 5% 5%;
    max-width: 100%;

}
.about-me img{

    float: right;
    margin: 1% 5% 10% 5%;

}

    
}
/* *****************************************
--------------Desktop Mode------------------
********************************************/

@media screen and (min-width: 1024px){


    .main-content-wrapper{

        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 1500px;
        height: auto;
       


    }

    .page{

        max-width: 100%;
        margin: 1%;
        width: 30%;
        margin: 0% auto;

    }

            .nav-container{

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 100%;
            width: 80vw;



    }
       .nav-home, .nav-portfolio, .nav-contact{

    background-color: rgba(153, 0, 0, 0);
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin: 3% 1%;
    width: 100px;
    font-weight: 700;


}


        .header-h1{

     
       margin-left: 2em;     
       margin-right: auto;


    }

    .about-me-container{

    display: flex;
    flex-wrap: wrap;


}

    .about-me{

    margin: 0%;
    max-width: 100%;
    width: 100vw;
    height: auto;



}



.about-me p{

    padding: 5% 20%;
    margin: 1% 5% 5% 5%;
    max-width: 100%;

}
.about-me img{

    float: right;
    margin: 1% 5% 10% 5%;

}



}