*{

      box-sizing: border-box;

}


body{

    font-family: 'Nunito', sans-serif;
    background-color: rgb(243, 243, 243);
    color: #2d2e35;
    line-height: 1.6;
    max-width: 1600px;
    margin: 0% auto;

}

/* This is for lists st */

ol, ul{

    list-style: none;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 5%;

}

img{

    max-width: 100%;

}

h1{

    text-align: center;
    font-weight: 700;

}

a, a:visited{

    color: #2d2e35;
    text-decoration: none;

}

a:hover{

    color: #e7c735;


}

nav{

    display: flex;
    flex-direction: column;

}



.nav-home, .nav-portfolio, .nav-contact, .nav-skills{

    background-color: white;
    border-radius: 3px;
    padding: 1% 1%;
    margin: 2% auto;
    width: 300px;
    max-width: 100%;
    font-weight: 700;
    text-align: center;

}

.about-me{


    display: flex;
    flex-direction: column;
    margin: 0% auto;
    width: 100%;
    height: auto;



}

.about-me-text, .profile-photo{

    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0%;

}

.about-me-text{

    font-size: 25px;
}


.portfol, .skills-class{

    text-align: center;

}

.main-content-wrapper{

    
    background-color: white;
    padding: 10% 1%;
    width: 20em;
    max-width: 100%;
    text-align: center;
    margin: 0% auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.main-content-wrapper h2{

    text-align: center;
    padding: 1% 2% 5%;

}

.portfolio-text{

    margin-top: 5px;
    padding: 1% 2% 5%;

}

.contact{

    text-align: center;
    margin: 0% auto;
    padding: 5% 5%;

}

.mobile-footer-container{

    display: flex;
    border-top: 3px solid #dbdbdb;
    justify-content: start;
    align-items: baseline;

}

.footer-nav-container{

    display: none;
}

footer h4{

    font-size: 25px;
    margin-left: 5%;
    margin-right: 10%;
    flex-basis: 50%;

}

footer a{

    flex-basis: 45%;
    font-weight: 700;


}

/* *****************************************
--------------Media Queries------------------
********************************************/

/* ---------------------------------------- */


/* *****************************************
--------------Tablet Mode------------------
********************************************/

@media screen and (min-width: 768px){


    .main-content-wrapper{

        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 1024px;
        margin: 0% auto;
        height: auto;
       


    }

    .page{

        max-width: 100%;
        margin: 1%;
        width: 48%;

    }

/* Flexbox container for the nav bar */

    .nav-container{

            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 80vw;
            margin: auto;



    }

    .mobile-footer-container{

        display: none;
    }

     .footer-nav-container{

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            max-width: 100%;
            width: 100vw;
            border-top: 3px solid #dbdbdb;

     }

     footer nav{

        align-items: baseline;

     }

    nav{

        display: flex;
        flex-direction: row;
        justify-content: center;



    }

    /* Flexbox items for the navbar */
       .nav-home, .nav-portfolio, .nav-contact, .nav-skills{

    background-color: rgba(153, 0, 0, 0);
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin: 3% 1%;
    width: 100px;
    font-weight: 700;


}





.about-me{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin: 0% auto;
    max-width: 100%;
    width: 100vw;
    height: auto;



}



.about-me-text{

    order: -1;
    width: 100%;
    font-size: 1.3em;
    margin: 0 5%;
    max-width: 100%;

}



.contact{


    max-width: 50%;
    margin: 0% auto;
    padding-bottom: 5px;

}

    
}

/* *****************************************
--------------Desktop Mode------------------
********************************************/

@media screen and (min-width: 1024px){


    .main-content-wrapper{

        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 1500px;
        height: auto;
       


    }

    .page{

        max-width: 100%;
        margin: 1%;
        width: 30%;
        margin: 0% auto;

    }

            .nav-container{

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            max-width: 100%;
            width: 80vw;



    }
       .nav-home, .nav-portfolio, .nav-contact, .nav-skills{

    background-color: rgba(153, 0, 0, 0);
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin: 3% 1%;
    width: 100px;
    font-weight: 700;


}

    nav, .h1-header{

        display: flex;
        justify-content: right;




    }



.about-me-text{


max-width: 50%;

}

    .page{

        transition: all 1s ease-out;

    }
      

    .page:hover{

        transform: scale(1.5);
        transition: ease-in 1s;
        background-color: #f1f1f1;


    }



}